body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #7bb7d1;
    color: #FBFFF9;
}

footer {
    color: #FBFFF9;
    background-color: #46A3CA;
    text-align: center;
    font-weight: 500;
    width: 78%;
    margin-left: 11%
}